appdirs==1.4.4
bleach==3.3.0
certifi==2020.12.5
cffi==1.14.5
cfgv==3.2.0
chardet==4.0.0
colorama==0.4.4
cryptography==3.4.6
distlib==0.3.1
docutils==0.16
filelock==3.0.12
identify==1.5.14
idna==2.10
importlib-metadata==3.4.0
importlib-resources==5.1.0
jeepney==0.6.0
keyring==22.0.1
nodeenv==1.5.0
packaging==20.9
pkg-resources==0.0.0
pkginfo==1.7.0
pre-commit==2.10.1
pycparser==2.20
Pygments==2.8.0
pyparsing==2.4.7
PyYAML==5.4.1
readme-renderer==28.0
requests==2.25.1
requests-toolbelt==0.9.1
rfc3986==1.4.0
SecretStorage==3.3.1
six==1.15.0
-e git+git@github.com:Al3jandr032/tkns.git@8600aa2401285575b893facd10e0a1756c17e3c0#egg=tkns
toml==0.10.2
tqdm==4.57.0
twine==3.3.0
typing-extensions==3.7.4.3
urllib3==1.26.3
virtualenv==20.4.2
webencodings==0.5.1
zipp==3.4.0
